
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Environments
.env
*.env
*.keras
*.model
.venv
env/
venv/
ENV/

# Django
*.log
*.pot
*.pyc
*.sqlite3
*.sqlite3-journal

# IDE/editor
.vscode/
.idea/
*.swp
.DS_Store

# Node (if ever used)
node_modules/

# Others
coverage/

/chatbot/sessions/
__pycache__/

.env
*.env
*.keras
*.model
/chatbot/sessions/
__pycache__/